<%
  # Headless currency input field for Money-like objects.
  #
  # Locals:
  #   form: FormBuilder
  #   attribute: Symbol, e.g. :price
  #   value: Money object (responds to #fractional and #currency.iso_code)
  #   decimals: Integer (default: 2)
  #   input_html: Hash (optional)
  #   wrapper_html: Hash (optional)
  #   label_text: String (optional, defaults to humanized attribute)
  #   show_label: Boolean (default: false)
  #
  input_id      = "#{form.object_name}_#{attribute}_display"
  money_value   = value || Money.new(0, "USD")
  current_minor = money_value.fractional
  currency_code = money_value.currency.iso_code
  decimals      ||= 2
  input_html    ||= {}
  wrapper_html  ||= {}
  show_label    ||= false
  label_text    = label_text.presence || attribute.to_s.humanize
%>

<div <%= tag.attributes(wrapper_html) %>
     data-controller="midas-currency"
     data-midas-currency-currency-value="<%= currency_code %>"
     data-midas-currency-decimals-value="<%= decimals %>">

  <%= form.label "#{attribute}_display",
                 label_text,
                 for: input_id,
                 class: (show_label ? nil : "sr-only") %>

  <input type="text"
         id="<%= input_id %>"
         name="<%= form.object_name %>[<%= attribute %>_display]"
         data-midas-currency-target="display"
         data-action="beforeinput->midas-currency#input keydown->midas-currency#backspace keydown->midas-currency#preventDefault"
         inputmode="decimal"
         autocomplete="off"
         <%= tag.attributes(input_html) %>>

  <%= form.hidden_field "#{attribute}_minor",
                        value: current_minor,
                        data: { midas_currency_target: "hidden" } %>

  <%= form.hidden_field "#{attribute}_currency", value: currency_code %>
</div>